<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/styles.css}">

    <div class="container-fluid header-bar">
        <header class="d-flex flex-wrap align-items-center justify-content-between py-3 px-4">
            <div class="d-flex align-items-center">
                <a href="/" class="d-inline-flex text-decoration-none">
                    <img th:src="@{/images/10469-hospital.png}" alt="Hospital Logo" width="40" height="40" class="me-2">
                </a>
                <span class="fs-5 fw-bold">Hospital Registration</span>
            </div>

            <ul class="nav">

                <li><a href="/patients/add" class="nav-link px-3">Запис пацієнтів</a></li>
                <li><a href="/AllReview" class="nav-link px-3">Таблиця всіх записів</a></li>
                <li><a href="/historypatients" class="nav-link px-3">Історія пацієнтів</a></li>
                <li><a href="/listAnnouncement" class="nav-link px-3">Оголошення</a></li>
                <li><a href="/account" class="nav-link px-3">Акаунт</a></li>
                <li><a href="/hangman" class="nav-link px-3">Гра для нудьги</a></li>
                <li><a href="/logout" class="nav-link px-3">Вихід</a></li>
            </ul>
        </header>
    </div>
</div>
